extends layout

block content
  h1= title
  img.className#IdName(src="/images/trollbait.jpg" alt="Image Title",height="100px", width="100px")
  p You are not welcome to #{title}
  p But since you're here, please answer some questions - 
   
